:root {
    --main-color: #F23322;
    --section-color: #EBE0CE;
    --letter-color: #232A24;
    --second-letter-color: #C4392A;
    --text-font-family: Arial, Helvetica
}
body{
    background-color: var(--main-color);
}

h1 {
    color: var(--second-letter-color);
    text-align: center;
}

main {
    min-width: 250px;
    max-width: 600px;
    min-height: 500px;
    height: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: var(--section-color);
    
}

section {
    
width: 80%;
height: 60%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}

input{
    border: none;
    border-radius: 20px;
  
}
input:focus{
outline: none
}



